[submodule "plotter-blockchain-gui"]
	path = plotter-blockchain-gui
	url = https://github.com/Plotter-Network/plotter-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Plotter-Network/mozilla-ca.git
